[credential]
	helper = store
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = thorntonmc
	email =  mthornton@wasabi.com
	signingkey = D5CBAF7E8AA8F448
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
