[credential]
	helper = store
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = thorntonmc
	email = mt@mthornton.dev
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC4WtYe+ljblhJ4QIMEOfG+CL5WE7EXqvDjbw/slNgVjfZfCNs+wddsy6jHPcp6UooxiuEvGIA9kQ5MMdrASzTMvcjYqcTkj3D1o4di5yL6ER4abIcLpRupkFH1Z6+3x6WxVXI7iK8iNGCurHlLXYcpd1FnACHlb8bU35XXfZ1+rsoVfl96atwthuvFoMviJX5EdDUb8qrALbu7jof6Gt07rXNcJRMqXPwm2g4JcC6D+R/zYOFpH84/PACh1qTG2Hs5yajPbeSdfi3NZRxGfxK0rZCd8w/UjuJ025cRQkL6lMa6BU6oBRK0dYtYgImHYqy9kGIU97TBWr5aLCAirNA6ObxIR8IbzooeKQ7SOL5h/T0PibHhgjPvAeoLeWx1tLTYkdhH6aXhCQOZ52/qunQPygwzJW4CL8HGQIY0oInB8W3MSN05HCK6Fidtf8SHMmxQ0IQDAYPULFtghUrBqFT0FFjKRzyjEWwci9aCrhJhx1SnAYV3nHiUGRoJOtMPR0CvQroxpTfMx2ecNMbfgEMv1cyrNKZelVlgNJpKIeeGKjZI3hfV84J5HxWahbq3KpvPgZQU6d9Z1XncgTSWNhUANQcvC41NqMwRCpQex12Z5a14y/Ga6lAVAoFc3XRYrk3C9zmrckBB7qOlauzY8/0ERYoAfxitjeBkJRjIiDO+tw==
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[commit]
	gpgsign = true
